:root {
  //
  // These variables defined inside root are not required to import
  //

  // general colors
  --green-color: green;
  --orange-color: orange;
  --red-color: red;
  --gray-color: gray;
  --sky-blue-color: #237aae;
  --slight-orange-color: #b4a825;
  --white-color: #fff;

  //
  // reuse the same color defined above for Feature flags
  //
  // permanent BR color
  --br-bg-color: var(--orange-color);

  // feature-flag related colors
  // --ff-br-bg-color: var(--slight-orange-color);
  // --ff-at-bg-color: var(--sky-blue-color);
}

// These colors could be added to root to but leaving it here to show the different approaches
$primary-color: #007bff;
$secondary-color: #8a141a;
$white-color: #fff;
$dark-color: #333333;
$green-color: #178d17;
