// h1 title and so on
// https://chipcullen.com/how-to-structure-your-typography-in-sass/

// https://stackoverflow.com/questions/59673154/how-to-share-value-from-js-object-to-sass-variable-in-react-js

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

// h1 {
//   font-size: 24px;
//   font-weight: bold;
//   color: $accent-color;
// }

// p {
//   color: $text-color;
// }
