@mixin myFlexMixin($justify: null, $align: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin hover-effect {
  &:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
}

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  -o-transition: $property;
  transition: $property;
}
