@use "../cds/abstracts/mixins";

.athleta {
  --container-bg: var(--ff-at-bg-color);
  --primary-background-color: var(--green-color);
}

.flexWrapper {
  @include mixins.myFlexMixin(space-between, center);
}

.customBtnPrimary {
  background: linear-gradient(to right, #60b4ba, #2757c2);
}

.customBtnSecondary {
  background: linear-gradient(to right, #d298bc, #a61b73);
}
