@use "../sass/components/buttons";

// BRAND SPECIFIC COLOR CHANGE

.bananarepublic {
  // feature flag case
  //
  // first variable will be for feature flag
  // if FF value is not there, it moves to next var
  //
  // if first variable is not found of second var,
  // it defaults to colors.$white-color
  --container-bg: var(--ff-br-bg-color, var(--br-bg-color));
  --primary-background-color: var(--green-color);
  --secondary-background-color: var(--sky-blue-color);
}

.customBtnPrimary {
  @extend .primary-button;
}

.customBtnSecondary {
  @extend .secondary-button;
}

.customBtnPrimary {
  @extend .primary-button;
}

.customBtnSecondary {
  @extend .secondary-button;
}
