@use "../../sass/base/colors" as colors;

.navbar {
  background-color: colors.$dark-color;
  padding: 16px;

  .navbar__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .navbar__item {
    margin: 0 10px;
  }

  .navbar__link {
    text-decoration: none;
    color: colors.$white-color;
    font-weight: bold;
  }
}
