@use "../base/colors";
@use "../base/mixins";

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  // colors.$primary-color is the fallback;
  background-color: var(--background-color, colors.$primary-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 1rem;

  @include mixins.hover-effect;
}

.primary-button {
  background-color: colors.$primary-color;
}

.secondary-button {
  background-color: colors.$secondary-color;
}
